<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cricket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/player"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme4">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RunsActivity" />
        <activity android:name=".ui.WicketsActivity" />
        <activity android:name=".ui.OversActivity" />
        <activity android:name=".ui.EndOverActivity" />
        <activity
            android:name=".ui.InitialActivity"
            android:label="Bowling Type" />
        <activity
            android:name=".ui.ScoreActivity"
            android:label="Over Score" />
        <activity android:name=".ui.UserActivity" />
        <activity android:name=".ui.TeamsActivity" />
    </application>

</manifest>